

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #e4e4e4;
}

.nav-bar-title > a {
	line-height: 64px;
	color: pink;
	font-size: 36px;
}

.nav-bar-links {
	line-height: 64px;
	color: pink;
	font-size: 20px;
}












